.DrawerToggle {
    display: none;
    margin: 20px 10px;
}

@media (max-width: 767px) {
    .DrawerToggle {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
    }
}

@media (max-width: 480px) {
    .DrawerToggle {
        margin: 10px 5px;
    }
}