.Layout {
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(0,0,0,0.0)), url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.Layout main {
    display: block;
    width: 100%;
    padding-bottom: 60px;
}
